{% extends 'base.html' %}


{% block title %}
Home
{% endblock title %}


{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi iste officiis tenetur, eum eius neque obcaecati
    minus praesentium consequatur, animi mollitia, nihil vitae architecto dolore voluptates molestias ullam numquam
    ducimus porro. A, magnam, recusandae fugiat repellat, quasi impedit ipsa facere possimus distinctio qui modi rerum
    consequuntur ipsam facilis accusamus maiores! Quidem natus iste dolore fugit obcaecati expedita quas accusamus
    officiis blanditiis atque. Deleniti, beatae nisi temporibus vel dolorem consequuntur repellendus, quod debitis odit
    sapiente repellat natus quibusdam nobis? Hic facilis repellendus nulla libero ex totam excepturi facere odit
    exercitationem, doloribus adipisci temporibus non sapiente nobis maiores aperiam veniam! Voluptates, sed.
</p>
{% endblock content %}